.catalogue {
  &-item {
    color: $default-shade;
    display: block;
    padding: 2rem 0;
    font-weight: 400;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-shade;
    font-family: $serif-secondary;
    letter-spacing: .5px;
    opacity: .55;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $monospaced;
    font-weight: 300;
    font-size: 2rem;
    margin: .5rem 0;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .15rem solid #409cff; 
    display: block;
    width: 2rem;
  }
}
