.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.nav {
  padding-bottom: 1em;
  padding-top: 1em;
  border-bottom: .13rem solid #e8eaed;
  overflow: auto;
  width: 92%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.2em;



  &-container {
    margin: 1rem 0;
    position: relative;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $default-shade;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;


    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-shade;
    display: inline-block;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
	font-color: $default-shade;
    }
  }

  a {
    color: #8e8f92;
    font-family: $monospaced;
    font-weight: 400;
  }
  a:hover {
    color: $default-shade;
  }

  a.title {
    color: $default-shade;
  }
  
  a.active_page {
    color: $default-shade;
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

footer {
  font-family: $serif-secondary;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}
