// Colors
$default-color:  #e8eaed !default;
// $default-color: #555 !default;
$default-shade: #e8eaed !default;
$default-tint: #e8eaed !default;
// $default-tint: #aaa !default;
$grey-1: #979797 !default;
$grey-2: #e5e5e5 !default;
$grey-3: #f9f9f9 !default;
$white: #fff !default;
$blue: #8ab4f8 !default;
$shadow-color: rgba(0, 0, 0, 1) !default;
$code-color: #bf616a !default;

// Fonts
$serif-primary: 'IBM Plex Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif !default; 
$serif-secondary: 'IBM Plex Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif !default; 
$sans-serif: 'IBM Plex Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif !default;
$monospaced: 'IBM Plex Mono', Menlo, Monaco, monospace !default;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
